body{
    overflow-y: scroll;
    background-image: url(/images/aboutUs/legoWallpaper.png);
    background-repeat: repeat-y;
    background-size: cover; 
}
header {
    background-image: url(/images/aboutUs/headerau.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
} /* gjøre større, quote over bilder */
.h1{
    display: flex;
    justify-content: center;
    align-items: center; 
}
#quote{
    /* font-family: lego? */
    font-style: italic;
    font-size: 40px;
    color: black; 
    text-shadow: 3px 2px rgb(124, 108, 108); 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    top: 170px;
}
.historyText{
    font-style: italic; 
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(124, 108, 108);
    line-height: 1.6;
    position: relative;  
    top: 420px;
    left: 650px;
    right: 10px;
}
/* skal ha noe bak teksten men vet ikke hva enda  */
#historyImg{
    position: relative;  
    top: 470px;
    left: 10px;
    width: 430px;
}
/* #historyImg:hover{

} */
.locationsText{
    font-style: italic; 
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(124, 108, 108); 
    line-height: 1.6;
    position: relative;  
    top: 200px;
    right: 650px;
    left: 10px;
}
#locationsImg{
    position: relative;  
    top: 800px;
    left: 760px;
    width: 500px;
}
/*  #locationsImg:hover{
    
}  */
 .slide-container{
    width: 400px;
    height: 300px;
}
.image-container{
    width: 2000px;
    height: 300px;
    position: relative; 
    top: 100vh; 
    bottom: 10px; 
    transition: left 2s;
    
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px; 
}
/* skal være slideshow men funker ikke som det skal enda */
