body {
background-color: rgb(251,84,84);
z-index: 2;
}

.container{
position: relative;
justify-content: center;
display: flex;

}

#text {
position: relative;
color: black;


}
/* .iconer {
z-index: 3;
height: 50%;
width: 50%;
justify-content: center;
display: flex;
margin: -10px;
}
.facebook {
height: 95%;
} */


/* Seb */

body > .container {
    height: 100%;
    overflow-y: scroll;
    display: block;
}


header, section{
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    
}

header .content,
section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    color: var(--white-color);
    height: 100%;
    width: 100%;
}

header {
    background-image: url(/images/frontpage/gifus.gif);
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header ul li {
    margin: .5em;
}

header ul li a{
    color: var(--white-color);
}


header h1,
section h1 {
    margin-bottom: 0;
}

section a {
    margin-top: 1em;
    color: #fff;
}

#mapSection {
    background-image: url(/images/frontpage/map.jpeg);
}

#ticketSection {
    background-image: url(/images/frontpage/tickets.jpg);
}

#webshopSection {
    background-image: url(/images/frontpage/webshop.jpg);
}

#openingHoursSection {
    background-image: url(/images/frontpage/opening-hours.jpeg);
}

#aboutUsSection {
    background-image: url(/images/frontpage/legoland.jpg);
}

header .iconer {
    display: flex;
    margin-top: 20px;
}

header .iconer img {
    max-height: 50px;
    margin: .75em;
}
