body {
background-color: rgb(251,84,84);
z-index: 2;
}
.gif {
position: relative;
z-index: 3;
justify-content: center;
}
.container{
position: relative;
justify-content: center;

}

#text {
position: relative;
color: white;
left: 530px;
z-index: 4;
bottom: 30px;
}

