body{
    
}

#map-title{
    position: absolute;
    display: flex;
    justify-content: center;
}

#map-container{
    display: flex;
    justify-content: center;
    border: 2px red solid;
    height: 190vh;
}

#map{

    /*height: 70%;*/
}