:root {
    --yellow-color: #FFCF00;
    --red-color: #D01012;
    --green-color: rgb(0, 128, 0);
    --blue-color: blue;
    --black-color: black;
    --white-color: #fff;
    --gray-color: #474d45;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
    overflow: hidden;
    min-width: 330px;
}

body {
    display: flex;
    flex-direction: column;
}

body .container {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
}

nav {
    background-color: var(--yellow-color);
    padding: 1.25em .5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    height: 120px;
    z-index: 100;
}

nav .logo {
    width: 150px;
    display: inline-block;
}

nav > ul {
    display: inline-flex;
    gap: 1em;
    list-style: none;
    margin: 0;
}

nav > ul li a {
    font-size: 1.2em;
    color: #474d45;
    text-decoration: none;
}

nav > ul li a.active {
    font-weight: bold;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/*
    Eksempel på hvordan man bruker variablene definert ovenfor

    h1 {
        background-color: var(--yellow-color);
    }
*/

