@font-face {
    font-family: Lego;
    src: url(/fonts/legothick-webfont.woff2) format('woff2'), 
         url(/fonts/legothick-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    position: 22;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.219);
    background-image: url(/images/Tickets/LegolandGate.jpg);
    background-size: 105%;
    background-repeat: no-repeat;
    
}

#banner {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 255, 0.897);
    position: absolute;
    display: flex;
    align-items: center; 
    background-image: url(/images/Tickets/BannerImg.jpg);
    background-size: 70%;
    padding-bottom: 1px;
    box-shadow: inset 0 -10px 10px -9px #ffffff;
    
}
#bannerTextContainer{
    position: absolute;
    width: 400px;
    height: 125px;
    background-color: rgb(38, 129, 233);
    left: 150px;
    margin: 0;
    box-shadow: inset -7px 0px 2px -6px rgb(0, 0, 0); 
}
#headerTitle {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 45px;
    border-radius: 15px;
    top: -10px;
    position: absolute;
    left: 20px;
}
#subHeadText {
   font-family: sans-serif;
   position: absolute;
   bottom: 10px;
   left: 25px;
   font-size: 12px;
   color: rgb(0, 0, 0);

}
#backgroundContainer {
    position: relative;
    width: 1400px;
    height: 1000px; 
    background-color: rgba(255, 255, 255, 0.966);
    box-shadow: 1px 1px 2px black;
    top: 268px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.ticketBuyBox {
    position: absolute;
    width: 300px; 
    height: 400px; 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px black;
}
.adCircles {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 248px;
    left: 377px;
    top: 257px;
}
#adCircle1, #adCircle2, #adCircle3 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    left:350px;
    top:200px;
    border-radius: 50%;
    z-index: +1;
    background-color: #FFCF00;
    box-shadow: 2px 2px 1px black;
}
.adCircleText {
    position: absolute;
    top: 50px;
    font-weight: bolder;
    transform:rotate(-20deg);
    
} 

#ticketBox1 {
    position: absolute;
    left: 150px;
}

#ticketBox2 {
    position: absolute;
    
}

#ticketBox3 {
    position: absolute;
    right: 150px; 
}

.ticketName {
    font-family: sans-serif;
    font-size: x-large;
    text-decoration: underline;
}

.boxImg {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 80px;
}
.ticketInfo {
    font-family: sans-serif;
    font-size: 13px;
    position: absolute;
    justify-self: center;
    align-self: center;
    overflow: auto;
    bottom: 70px;
    padding: 40px;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 520;
    bottom: 0px;
    width: 300px;
    height: 80px;
    background-color: rgb(54, 147, 253);
    box-shadow: 1px 1px 1px black;
    transform: .2s;
}
.button:hover {
    transform: scale(1.01);
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popupContent {
    position: relative;
    width: 700px;
    height: 500px;
    background-color: white;
    box-shadow: .5px .5px .5px black;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    z-index: +1;
    
}
.titleBox {
    top: 0px;
    width: 700px;
    height: 70px; 
    background-color: #FFCF00;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: .5px .5px 3px black;
}

.popupTitle {
    position: absolute;
    
}

#popup1:target {
    visibility: visible;
}
#popup2:target {
    visibility: visible;
}
#popup3:target {
    visibility: visible;
}
#thanks:target{
    visibility: visible;
}
.closePopup {
    position: absolute;
    right: 20px;
    top: 10px; 
    height: 20px;
    width: 20px;
    text-decoration: none;
    color: black;
    font-size: 28px;
}


.quantity {
    height: 20px;
    width: 50px;
    position: relative;
    display: inline;
    left: 130px;
    margin: 6px;
    bottom: 49px;    
}

.labelName{
    position: relative;
    display: inline;
    margin: 9px; 
    top: 80px;
}

.popupHead {
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 10px;
}

.dateSelection {
    position:absolute;
    top: 150px;
    left: 10px;
    
}
.popBuyBtn {
    position: absolute;
    bottom: 40px;
    left: 320px;
    padding: 15px;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: rgb(54, 147, 253);
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;

}

.success {
    width: 250px;
    height: 250px;
    align-self: center;
    justify-self: center;
    
}
