.items {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

.item {
    height: 250px;
    width: 200px;    
    background: url(/images/webshop/star_wars.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item .content {
    color: var(--white-color);
    height: 100%;
    width: 100%;
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.65);
}

/* .container {
    display: flex;
    flex-direction: column;
} */

header {
    background-image: url(/images/webshop/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

header .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    gap: 1em;
}

header h1 {
    font-size: 3em;
    margin-bottom: 12px;
}

header p {
    font-size: 1.7em;
}

header .cta {
    padding: .7em 1em;
    text-transform: uppercase;
    font-size: bold;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

header .cta:hover {
    background-color: #fff;
    color: black;
}
